<!DOCTYPE html>
<html>
  <head>
    <title>Meeting Notes</title>
    <link rel="stylesheet" href="/assets/stylesheets/style.css" />
  </head>
  <body>
    <h1><a href="#/">Meeting Notes Board</a></h1>
    <form action="/meetingnotes" method="post">
      <input type="date" name="meetingnote[date_created]" placeholder="date created" value="{{meetingnote.date_created}}" />
      <input type="text" name="meetingnote[name]" placeholder="written by" value="{{meetingnote.name}}" />
      <input type="text" name="meetingnote[meetinghub]" placeholder="meetinghub" value="{{meetingnote.meetinghub}}" />
      <input type="text" name="meetingnote[description]" placeholder="description" value="{{meetingnote.description}}" />
      <button type="submit">Edit Platform</button>
    </form>
  </div>

  </body>
</html>

<!-- "Name": "Fish",
"Title": "Meet in the ocean",
"Description": "Lets go swimming with the sharks BAO!",
"Date created": "12/12/1212",
"Meetinghub": "google.com" -->
